html, body {
    width: 99.75%;
    height: 100%;
}

#sketch {
    border: 10px solid gray;
    height: 770px;
    width: 100%;
    /*position: relative;*/
}

#tmp_canvas {
    position: absolute;
    left: 0px; right: 0;
    bottom: 0; top: 0;
    cursor: crosshair;
}

.nav-wrapper{
    background-color: #5F9EA0;
}

.icons{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#range{
    width: 250px;
}
#dropdown1{
    height:150px;
    width:200px !important;
}

#largeur_pinceau{
    margin-top: 20px;
    width: 108px;
}

#largeurs_pinceau{
    margin-top: 20px;
}